.hero {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets//imgHero2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .imghero > img {
    max-height: 66vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .3);
} */