.modal {
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(4px);
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.modal__container {
    background-color: #f0f0f0;
    width: 900px;
    padding: 10px 20px;
    height: 80vh;
    margin: 14vh auto 10vh;
    position: relative;
    border-radius: 4px;
}

.modal--button {
    width: 47px;
    height: 47px;
    color: #f0f0f0;
    display: block;
    margin-bottom: 16px;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 9999px;
    background: #ff5c39;
    cursor: pointer;
}

.modal--button:hover {
    background: #ff5c20;
}